openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://wade.monster.com'
paths:
  /api/abilities:
    get:
      summary: 性格列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ability
      security: []
    post:
      summary: 性格新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Ability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ysstvdreay
              required:
                - name
      security: []
  '/api/abilities/{ability_id}':
    patch:
      summary: 性格修改
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Ability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jgjvlkpmqi
              required:
                - name
      security: []
    parameters:
      -
        in: path
        name: ability_id
        description: 'The ID of the ability.'
        example: 1
        required: true
        schema:
          type: integer
  /api/Auth/login:
    post:
      summary: 登入
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: dovie.langworth@example.net
                password:
                  type: string
                  description: ''
                  example: 'rR_ZO7Q{wM'
              required:
                - email
                - password
      security: []
  /api/Auth/logout:
    post:
      summary: 登出
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Auth
      security: []
  '/api/email/verify/{id}/{hash}':
    get:
      summary: 註冊email驗證信確認
      operationId: email
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Resource not found'
                properties:
                  error:
                    type: string
                    example: 'Resource not found'
      tags:
        - Auth
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify.'
        example: ipsa
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: cumque
        required: true
        schema:
          type: string
  '/api/checkVerificationStatus/{email}':
    get:
      summary: 確認user表註冊驗證信狀態
      operationId: user
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'User not found'
                properties:
                  error:
                    type: string
                    example: 'User not found'
      tags:
        - Auth
      security: []
    parameters:
      -
        in: path
        name: email
        description: ''
        example: carter55@example.com
        required: true
        schema:
          type: string
  /api/cart_items:
    get:
      summary: 顯示購物車商品
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - CartItem
      security: []
    post:
      summary: 加入購物車
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CartItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: string
                  description: ''
                  example: null
                race_id:
                  type: integer
                  description: ''
                  example: 18
              required:
                - race_id
      security: []
  /api/cart_items/total_price:
    get:
      summary: 購物車總價格計算
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - CartItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cart_item_ids:
                  type: object
                  description: ''
                  example: []
                  properties: {  }
              required:
                - cart_item_ids
      security: []
  '/api/cart_items/{cart_item_id}':
    put:
      summary: 購物車更新
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CartItem
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: string
                  description: ''
                  example: null
      security: []
    delete:
      summary: 購物車刪除
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CartItem
      security: []
    parameters:
      -
        in: path
        name: cart_item_id
        description: 'The ID of the cart item.'
        example: 5
        required: true
        schema:
          type: integer
  /api/natures:
    get:
      summary: 性格詳情
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Nature
      security: []
    post:
      summary: 性格新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Nature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: sjfu
              required:
                - name
      security: []
  '/api/natures/{nature_id}':
    patch:
      summary: 性格修改
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Nature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: puiiohgpjinxz
              required:
                - name
      security: []
    parameters:
      -
        in: path
        name: nature_id
        description: 'The ID of the nature.'
        example: 1
        required: true
        schema:
          type: integer
  /api/orders:
    post:
      summary: 訂單新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                total_price:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 9
                payment_method:
                  type: string
                  description: ''
                  example: cash_on_delivery
                  enum:
                    - credit_card
                    - cash_on_delivery
                payment_status:
                  type: string
                  description: ''
                  example: unpaid
                  enum:
                    - paid
                    - unpaid
                    - canceled
              required:
                - total_price
                - payment_method
                - payment_status
      security: []
    get:
      summary: 訂單列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Order
      security: []
  '/api/order_details/{order_detail_id}':
    get:
      summary: ''
      operationId: getApiOrder_detailsOrder_detail_id
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - OrderDetail
      security: []
    parameters:
      -
        in: path
        name: order_detail_id
        description: 'The ID of the order detail.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/orders/{order_id}/order_details':
    get:
      summary: 訂單細節列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - OrderDetail
      security: []
    parameters:
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 16
        required: true
        schema:
          type: integer
  /api/orders_details:
    post:
      summary: 訂單細節新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - OrderDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: integer
                  description: ''
                  example: 17
                race_id:
                  type: integer
                  description: ''
                  example: 8
              required:
                - order_id
                - race_id
      security: []
  /api/payments:
    post:
      summary: 請求藍星金流結帳頁面
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Payment
      security: []
  /api/payResult:
    post:
      summary: 藍星金流結帳完後結果返回確認，寄通知信給使用者
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - PaymentResponse
      security: []
  /api/pokemons:
    get:
      summary: 'Create a new user.'
      operationId: createANewUser
      description: 'This endpoint allows you to show all pokemons.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Pokemons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'The first name of the user.'
                  example: dolores
                last_name:
                  type: string
                  description: 'The last name of the user.'
                  example: eaque
                email:
                  type: string
                  description: 'The email address of the user.'
                  example: monserrate89@example.net
              required:
                - first_name
                - last_name
                - email
    post:
      summary: ''
      operationId: postApiPokemons
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 15 characters.'
                  example: u
                race_id:
                  type: integer
                  description: ''
                  example: 7
                ability_id:
                  type: integer
                  description: ''
                  example: 18
                nature_id:
                  type: integer
                  description: ''
                  example: 3
                level:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 11
                skills:
                  type: array
                  description: ''
                  example:
                    - 12
                  items:
                    type: integer
              required:
                - name
                - race_id
                - ability_id
                - nature_id
                - level
      security: []
  '/api/pokemons/{id}':
    get:
      summary: ''
      operationId: getApiPokemonsId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Pokemons
      security: []
    put:
      summary: ''
      operationId: putApiPokemonsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the pokemon. Must not be greater than 15 characters.'
                  example: Pikachu
                race_id:
                  type: integer
                  description: 'The ID of the race for the pokemon.'
                  example: 1
                ability_id:
                  type: integer
                  description: 'The ID of the ability for the pokemon.'
                  example: 1
                nature_id:
                  type: integer
                  description: 'The ID of the nature for the pokemon.'
                  example: 1
                level:
                  type: integer
                  description: 'The level for the pokemon. Must be at least 1. Must not be greater than 100.'
                  example: 1
                skills:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
      security: []
    delete:
      summary: ''
      operationId: deleteApiPokemonsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the pokemon.'
        example: 15
        required: true
        schema:
          type: integer
  '/api/pokemons/{pokemon_id}/evolution':
    put:
      summary: ''
      operationId: putApiPokemonsPokemon_idEvolution
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
      security: []
    parameters:
      -
        in: path
        name: pokemon_id
        description: 'The ID of the pokemon.'
        example: 15
        required: true
        schema:
          type: integer
  /api/races:
    get:
      summary: 種族列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Race
      security: []
  '/api/races/{race_id}/evolutionLevel':
    get:
      summary: 種族進化等級
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Race
      security: []
    parameters:
      -
        in: path
        name: race_id
        description: 'The ID of the race.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/races/{race_id}/skill':
    get:
      summary: 種族技能
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Race
      security: []
    parameters:
      -
        in: path
        name: race_id
        description: 'The ID of the race.'
        example: 1
        required: true
        schema:
          type: integer
  /api/register:
    post:
      summary: '註冊,寄註冊信'
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: bxygokfrhbtjdjfrj
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: nikolaus.sonya@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'X_"6G_e>'
              required:
                - name
                - email
                - password
      security: []
  /api/user:
    get:
      summary: 使用者個人資訊
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - User
      security: []
  '/api/users/{user_id}/status':
    patch:
      summary: ''
      operationId: patchApiUsersUser_idStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - User
      security: []
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 21
        required: true
        schema:
          type: integer
  '/api/users/{user}/changePassword':
    patch:
      summary: ''
      operationId: patchApiUsersUserChangePassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: ''
                  example: itaque
                new_password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: qjjuszkiuvwshsdlkywphihzxodwofoiinxcosdcqlexxfjcightwpconpcttwshzhtkwjdmgovtiempaxoz
              required:
                - current_password
                - new_password
      security: []
    parameters:
      -
        in: path
        name: user
        description: 'The user.'
        example: 21
        required: true
        schema:
          type: integer
tags:
  -
    name: Ability
    description: 'Operations related to abilities.'
  -
    name: Auth
    description: 'Operations related to auth.'
  -
    name: CartItem
    description: 'Operations related to cartItems.'
  -
    name: Nature
    description: 'Operations related to natures.'
  -
    name: Order
    description: 'Operations related to orders.'
  -
    name: OrderDetail
    description: 'Operations related to orderDetais.'
  -
    name: Payment
    description: 'Operations related to payments.'
  -
    name: PaymentResponse
    description: 'Operations related to payments.'
  -
    name: Pokemons
    description: 'Operations related to pokemons.'
  -
    name: Race
    description: 'Operations related to races.'
  -
    name: Register
    description: 'Operations related to register.'
  -
    name: User
    description: 'Operations related to users.'
