openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://wade.monster.com'
paths:
  /api/abilities:
    get:
      summary: 特性列表
      operationId: ''
      description: 主要在於可以讓使用更新寶可夢的時候，在特性部分有選項可以讓使用者選擇
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"id\": \"3\",\n \"name\": \"strong\",\n}"
      tags:
        - Ability
    post:
      summary: 特性新增
      operationId: ''
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Ability saved successfully'
                properties:
                  message:
                    type: string
                    example: 'Ability saved successfully'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    name:
                      - 名稱只能包含中文和英文字。
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 名稱只能包含中文和英文字。
                        items:
                          type: string
      tags:
        - Ability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: '能力的名稱. 必須是唯一的，只能包含中文和英文字，且最大長度為255個字符.'
                  example: a
              required:
                - name
  '/api/abilities/{ability_id}':
    patch:
      summary: 特性修改
      operationId: ''
      description: 此端點允許您更新現有的特性。
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Ability updated successfully'
                properties:
                  message:
                    type: string
                    example: 'Ability updated successfully'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    name:
                      - 名稱只能包含中文和英文字符。
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 名稱只能包含中文和英文字符。
                        items:
                          type: string
      tags:
        - Ability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: '需要更新的特性名稱. 必須是唯一的，只能包含中文和英文字符，且最大長度為255個字符.'
                  example: modi
              required:
                - name
    parameters:
      -
        in: path
        name: ability_id
        description: 'The ID of the ability.'
        example: 1
        required: true
        schema:
          type: integer
  /api/Auth/login:
    post:
      summary: 登入
      operationId: ''
      description: 此端點允許用戶使用他們的電子郵件和密碼來登入系統，並返回一個JWT令牌。
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Login successful'
                  token: 'Generated JWT token'
                  user: 'Authenticated user object'
                properties:
                  message:
                    type: string
                    example: 'Login successful'
                  token:
                    type: string
                    example: 'Generated JWT token'
                  user:
                    type: string
                    example: 'Authenticated user object'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Invalid credentials'
                properties:
                  error:
                    type: string
                    example: 'Invalid credentials'
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 用戶的電子郵件地址。例子：user@example.com
                  example: nathanael.romaguera@example.net
                password:
                  type: string
                  description: 用戶的密碼。
                  example: "hMSX'6X#wv?'wF5"
              required:
                - email
                - password
      security: []
  /api/Auth/logout:
    post:
      summary: 登出
      operationId: ''
      description: 此端點允許已經登入的用戶登出，它會使當前的JWT令牌失效。
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Successfully logged out'
                properties:
                  message:
                    type: string
                    example: 'Successfully logged out'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to logout'
                properties:
                  message:
                    type: string
                    example: 'Failed to logout'
      tags:
        - Auth
      security: []
  '/api/email/verify/{id}/{hash}':
    get:
      summary: 註冊email驗證信確認
      operationId: email
      description: "電子郵件驗證確認\n\n此端點用於確認用戶的電子郵件驗證。它會比對提供的hash值和用戶的電子郵件生成的hash值。\n如果驗證成功，該用戶的電子郵件將被標記為已驗證，並且將觸發一個已驗證的事件。"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email already verified.'
                properties:
                  message:
                    type: string
                    example: 'Email already verified.'
      tags:
        - Auth
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify.'
        example: rem
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: aut
        required: true
        schema:
          type: string
  '/api/checkVerificationStatus/{email}':
    get:
      summary: 確認user表註冊驗證信狀態
      operationId: user
      description: "此端點用於檢查指定電子郵件的用戶是否已完成電子郵件驗證。\n它將返回用戶的電子郵件驗證狀態，無論是已驗證還是未驗證。"
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"isVerified\": true/false\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'User not found'
                properties:
                  error:
                    type: string
                    example: 'User not found'
      tags:
        - Auth
      security: []
    parameters:
      -
        in: path
        name: email
        description: ''
        example: dustin.oreilly@example.net
        required: true
        schema:
          type: string
  /api/cart_items:
    get:
      summary: 顯示購物車商品
      operationId: ''
      description: 這部分主要是用來顯示購物車頁面的商品資訊
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"data\": [\n        {\n            \"id\": \"項目ID\",\n            \"amount\": \"購物車中的商品數量\",\n            \"current_price\": \"當前種族價格（如果種族已加載）\",\n            \"race_name\": \"種族名稱（如果種族已加載）\",\n            \"race_photo\": \"種族圖片URL（如果種族已加載）\",\n            \"race_id\": \"種族ID（如果種族已加載）\"\n        },\n        ... 更多項目\n    ]\n}"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - CartItem
    post:
      summary: 加入購物車
      operationId: ''
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Item added to cart successfully.'
                properties:
                  message:
                    type: string
                    example: 'Item added to cart successfully.'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Requested quantity exceeds available stock.'
                properties:
                  error:
                    type: string
                    example: 'Requested quantity exceeds available stock.'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Race not found.'
                properties:
                  error:
                    type: string
                    example: 'Race not found.'
      tags:
        - CartItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  description: 購買的數量，必須在1到庫存的範圍內。
                  example: 2
                race_id:
                  type: integer
                  description: 賽事的ID，必須存在於賽事表中。
                  example: 5
              required:
                - quantity
                - race_id
  /api/cart_items/total_price:
    get:
      summary: 購物車總價格計算
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - CartItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cart_item_ids:
                  type: object
                  description: ''
                  example: []
                  properties: {  }
              required:
                - cart_item_ids
  '/api/cart_items/{cart_item_id}':
    put:
      summary: 購物車更新
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CartItem
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 購物車刪除
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - CartItem
    parameters:
      -
        in: path
        name: cart_item_id
        description: 'The ID of the cart item.'
        example: 5
        required: true
        schema:
          type: integer
  /api/natures:
    get:
      summary: 性格詳情
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Nature
    post:
      summary: 性格新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Nature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: pwdidhsy
              required:
                - name
  '/api/natures/{nature_id}':
    patch:
      summary: 性格修改
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Nature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: fgoombzypkgpemtywgotavck
              required:
                - name
    parameters:
      -
        in: path
        name: nature_id
        description: 'The ID of the nature.'
        example: 1
        required: true
        schema:
          type: integer
  /api/orders:
    post:
      summary: 訂單新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                total_price:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 75
                payment_method:
                  type: string
                  description: ''
                  example: cash_on_delivery
                  enum:
                    - credit_card
                    - cash_on_delivery
                payment_status:
                  type: string
                  description: ''
                  example: paid
                  enum:
                    - paid
                    - unpaid
                    - canceled
              required:
                - total_price
                - payment_method
                - payment_status
    get:
      summary: 訂單列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Order
  '/api/orders/{order_id}/order_details':
    get:
      summary: 訂單細節列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - OrderDetail
    parameters:
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 16
        required: true
        schema:
          type: integer
  /api/orders_details:
    post:
      summary: 訂單細節新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - OrderDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: integer
                  description: ''
                  example: 3
                race_id:
                  type: integer
                  description: ''
                  example: 4
              required:
                - order_id
                - race_id
  /api/payments:
    post:
      summary: 請求藍星金流結帳頁面
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Payment
  /api/payResult:
    post:
      summary: 藍星金流結帳完後結果返回確認，寄通知信給使用者
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - PaymentResponse
  /api/pokemons:
    get:
      summary: 使用者寶可夢的列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Pokemons
    post:
      summary: 使用者寶可夢的新增
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the pokemon. Must not be greater than 15 characters.'
                  example: Pikachu
                race_id:
                  type: integer
                  description: 'The ID of the race for the pokemon.'
                  example: 1
                ability_id:
                  type: integer
                  description: 'The ID of the ability for the pokemon.'
                  example: 1
                nature_id:
                  type: integer
                  description: 'The ID of the nature for the pokemon.'
                  example: 1
                level:
                  type: integer
                  description: 'The level for the pokemon. Must be at least 1. Must not be greater than 100.'
                  example: 1
                skills:
                  type: array
                  description: ''
                  example:
                    - 11
                  items:
                    type: integer
              required:
                - name
                - race_id
                - ability_id
                - nature_id
                - level
  '/api/pokemons/{id}':
    get:
      summary: 使用者寶可夢的詳情
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Pokemons
    put:
      summary: 使用者寶可夢的修改
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the pokemon. Must not be greater than 15 characters.'
                  example: Pikachu
                race_id:
                  type: integer
                  description: 'The ID of the race for the pokemon.'
                  example: 1
                ability_id:
                  type: integer
                  description: 'The ID of the ability for the pokemon.'
                  example: 1
                nature_id:
                  type: integer
                  description: 'The ID of the nature for the pokemon.'
                  example: 1
                level:
                  type: integer
                  description: 'The level for the pokemon. Must be at least 1. Must not be greater than 100.'
                  example: 1
                skills:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
    delete:
      summary: 使用者寶可夢的刪除
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the pokemon.'
        example: 15
        required: true
        schema:
          type: integer
  '/api/pokemons/{pokemon_id}/evolution':
    put:
      summary: 使用者寶可夢的進化判斷
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Pokemons
    parameters:
      -
        in: path
        name: pokemon_id
        description: 'The ID of the pokemon.'
        example: 15
        required: true
        schema:
          type: integer
  /api/races:
    get:
      summary: 種族列表
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Race
  '/api/races/{race_id}/evolutionLevel':
    get:
      summary: 取得種族進化等級
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Race
    parameters:
      -
        in: path
        name: race_id
        description: 'The ID of the race.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/races/{race_id}/skill':
    get:
      summary: 取得種族能夠學的技能
      operationId: ''
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Race
    parameters:
      -
        in: path
        name: race_id
        description: 'The ID of the race.'
        example: 1
        required: true
        schema:
          type: integer
  /api/register:
    post:
      summary: '註冊,寄註冊信'
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: isydbrsovllnr
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: lsporer@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: ':CS@g!|n7lDl4s['
              required:
                - name
                - email
                - password
      security: []
  /api/user:
    get:
      summary: 使用者個人資訊
      operationId: ''
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  name: 'John Doe'
                  photo: 'https://example.com/photo.jpg'
                  email: johndoe@example.com
                properties:
                  name:
                    type: string
                    example: 'John Doe'
                  photo:
                    type: string
                    example: 'https://example.com/photo.jpg'
                  email:
                    type: string
                    example: johndoe@example.com
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'User not found'
                properties:
                  error:
                    type: string
                    example: 'User not found'
      tags:
        - User
    post:
      summary: 更新使用者資訊
      operationId: ''
      description: '主要還會產生一個presigned URL來讓使用者瀏覽器去上傳圖片'
      parameters: []
      responses: {  }
      tags:
        - User
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                userPhoto:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: cessvtrkcltqkzgznipekjht
              required:
                - name
tags:
  -
    name: Ability
    description: 'Operations related to abilities.'
  -
    name: Auth
    description: 'Operations related to auth.'
  -
    name: CartItem
    description: 'Operations related to cartItems.'
  -
    name: Nature
    description: 'Operations related to natures.'
  -
    name: Order
    description: 'Operations related to orders.'
  -
    name: OrderDetail
    description: 'Operations related to orderDetais.'
  -
    name: Payment
    description: 'Operations related to payments.'
  -
    name: PaymentResponse
    description: "\n此為藍星金流在結帳完之後會通知後台的，接收結果用的API"
  -
    name: Pokemons
    description: 'Operations related to pokemons.'
  -
    name: Race
    description: "Operations related to races.\n這裡的種族就是寶可夢的意思"
  -
    name: Register
    description: 'Operations related to register.'
  -
    name: User
    description: 'Operations related to users.'
